<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Visualization</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700i" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/ChartWindow.css" />
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <!-- <script src="../static/agriculture.js"></script>
    <script src="../static/water.js"></script>
    <script src="../static/energy.js"></script>
    <script src="../static/climate.js"></script> -->
  <script src="../static/allchart.js"></script>
</head>

<body>
  <div class="container">
    <div class="button-effect">
      <h1>"Charts"</h1>
      <a class="effect effect-5" onclick="showCharts('agriculture')"
        title="Click Here to View Agriculture Charts">Agriculture</a>
      <a class="effect effect-5" onclick="showCharts('water')" title="Click Here to View Water Charts">Water</a>
      <a class="effect effect-5" onclick="showCharts('energy')" title="Click Here to View Energy Charts">Energy</a>
      <a class="effect effect-5" onclick="showCharts('farm')"
        title="Click Here to View Total Farm Net Income Charts">Farm Net Income</a>
      <a class="effect effect-5" onclick="showCharts('all')" title="Click Here to View All Charts">All Charts</a>
    </div>
    <div id="agriculture-charts" class="charts">
      <div id="chart1"></div>
      <div id="chart2"></div>
    </div>
    <div id="water-charts" class="charts">
      <div id="chart3"></div>
      <div id="chart4"></div>
    </div>
    <div id="energy-charts" class="charts">
      <!-- Energy charts here -->
      <div id="chart5"></div>
      <div id="chart6"></div>
    </div>
    <div id="farm-charts" class="charts">
      <!-- Farm Net Income charts here -->
      <div id="chart7"></div>
      <div id="chart8"></div>
    </div>
  </div>
</body>

</html>