<!-- <!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Visualization</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> -->


<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ChartWindow.css') }}"> -->

<!-- <link rel="stylesheet" type="text/css" href="../static/ChartWindow.css">

</head>
<body>
<div class="container">
  <div class="button-effect">
     <h1>"Charts"</h1>
     <a class="effect effect-5" href="../static/agriculture.js" title="Click Here to View Agriculture Charts">Agriculture</a>
     <a class="effect effect-5" href="../static/water.js" title="Click Here to View Water Charts" >Water</a>
     <a class="effect effect-5" href="../static/energy.js" title="Click Here to View Energy Charts" >Energy</a>
     <a class="effect effect-5" href="../static/climate.js" title="Click Here to View Total Farm Net Income Charts"> Farm Net Income</a>
     <a class="effect effect-5" href="../static/allchart.js" title="Click Here to View ALI Charts">All Charts</a>
  </div>
</div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visualization</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" type="text/css" href="../static/ChartWindow.css">
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
  <script src="../static/agriculture.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js></script>
</head>
<body>
  <div class="container">
    <div class="button-effect">
      <h1>"Charts"</h1>
      <!-- <button class="effect effect-5" onclick="drawAgricultureCharts()" title="Click Here to View Agriculture Charts">Agriculture</button> -->
      
      <a class="effect effect-5" id="drawChartsButton" onclick="drawAgricultureChart()"  title="Click Here to View Agriculture Charts">Agriculture</a>
      <a class="effect effect-5" href="../static/water.js" title="Click Here to View Water Charts">Water</a>
      <a class="effect effect-5" href="../static/energy.js" title="Click Here to View Energy Charts">Energy</a>
      <a class="effect effect-5" href="../static/climate.js" title="Click Here to View Total Farm Net Income Charts"> Farm Net Income</a>
      <a class="effect effect-5" href="../static/allchart.js" title="Click Here to View ALI Charts">All Charts</a>
    </div>
    <div id="chart1"></div>
    <div id="chart2"></div>
  </div>
</body>
</html>

